<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>

</head>
<body>
<div class="container">
    <h1>working</h1>
    <div ng-controller="MyController">
        <!--<button class="btn btn-default">NAME</button>-->
        <!--<button class="btn btn-default">LOCATION</button>-->
        <!--<button class="btn btn-default">NUMBER</button>-->

        <form class="form-inline">
            <label> Sort by:
            <select class="form-control" ng-model="peopleOrder">
                <option value="name">Name</option>
                <option value="location">Location</option>
                <option value="favoriteNumber">Number</option>
            </select>

            </label>
                <div class="radio-inline">
            <label>
                <input type="radio" ng-model="direction" name="direction" checked>
                Ascending
            </label>
                </div>

            <div class="radio-inline">
                <label>
                     <input type="radio" ng-model="direction" name="direction" value="reverse">
                Descending
                </label>
            </div>
            <input class="form-control" ng-model="query" placeholder="Search" autofocus>
        </form>


        <form class="inline-form">
            <input ng-model="info.name" type="text" placeholder="Enter your name">
            <input ng-model="info.location" type="text" placeholder="Enter your Location">
            <input ng-model="info.favoriteNumber" type="text" placeholder="Enter your Number">

            <button ng-click="clickButton(info)" class="btn btn-info">Submit</button>

        </form>


        <div class="row">
            <div ng-repeat="person in nameArray | orderBy: peopleOrder:direction | filter: query">
                <profile-info info="person" action="deletePeople({foo: person._id})">
                    </profile-info>
            </div>
        </div>
    </div>
</div>
</body>
</html>