<div class="col-md-3">
    <div class = "well well-lg">
        <div class="pull-left" style="width: 70%">
        <span>{{info.name}}</span>
        <br>
        <span>{{info.location}}</span>
        </div>
        <div class="pull-left" style="width: 30%">
        <p class="lead"><span class="mark"> {{info.favoriteNumber}} </span></p>
        </div>
        <div class="clearfix"></div>
        <button ng-click="action(foo)" type="submit" id="submitDelete" class="btn btn-danger">DELETE</button>
    </div>
</div>